*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;

}

.appContainer{
    width : 30%;
    margin-left: 50%;
    margin-top: 5%;
    transform: translate(-50%, 0);
}

@import "./category";
@import "./picker";
@import "./display";
@import "./search";